.page {
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url('https://images.pexels.com/photos/1141792/pexels-photo-1141792.jpeg');
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.logo {
  margin-bottom: 12;
  height: 90;
  font-weight: bold;
}

.header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.login-button {
  margin-top: 20;
  font-size: 18;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: yellowgreen;
  border-radius: 20;
}

.input-style {
  padding: 12 20;
  border-radius: 20;
  background-color: white;
  margin-bottom: 20;
  font-family: "Courier New", Courier, monospace;
  /* placeholder-color: lightgray; */
  /* color: white; */
}
